{% include 'inc/header.planning.twig' with { hideLogo: true } %}
<tr>
    <td style="{% include 'inc/bodyTextStyle.twig' %}">
        {% for message in messages %}
            <div style="display: flex;align-items: center;">
                {% if message.fromAvatar %}
                    <img src="{{message.fromAvatar.thumb}}" style="float:left;max-width:50px;object-fit:cover;border-radius: 50%;margin-right:10px;">
                {% endif %}
                <p style="font-size:16px;">
                    <strong>{{ message.fromName }}</strong>
                    <span style="color:grey;">{{ message.created }}</span>
                </p>
            </div>
            <div style="clear:both;"></div>
            <p style="margin-top:10px;margin-bottom:20px;font-size:14px;line-height:18px;">
                {{ message.message | raw }}
            </p>
        {% endfor %}

        <div>
            <a href="https://planning.worshiptools.com/app{{ url }}" style="box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #ED654C; margin: 0; border-color: #ED654C; border-style: solid; border-width: 10px 20px;">
                {{ _("View or respond", language) }}
            </a>
        </div>
    </td>
</tr>
{% include 'inc/footer.planning.twig' %}
