{% include 'inc/header.planning.twig' %}
<tr>
    <td style="{% include 'inc/bodyTextStyle.twig' %}">
        {% include 'body.twig' %}

        <h2 style="margin-bottom:6px;">{{ LONG_MONTH_DATE }}</h2>
        <p style="margin-bottom:16px;">{{ serviceType }} - <a href="{{ viewServiceLink }}">{{ _("View Service", language) }}</a></p>

        {% for role in roles %}
            <p style="margin-bottom:6px;">
                <span style="font-size:20px;font-weight:bold;">{{ role.name }}</span>
                <span>{{ role.group }}</span>
            </p>
            <table border="0" cellpadding="0" cellspacing="0" class="mainBtn" style="margin-top: 0;margin-bottom: 16px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0;">
                <tbody>
                <tr>
                    <td align="center" valign="middle" class="btnMain" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 12px;padding-bottom: 12px;padding-left: 22px;padding-right: 22px;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;background-color: #00BB1D;height: 20px;font-size: 18px;line-height: 20px;mso-line-height-rule: exactly;text-align: center;vertical-align: middle;">
                        <a href="{{ role.acceptLink }}" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;color: #ffffff;font-weight: bold;"><span style="text-decoration: none;color: #ffffff;">
                                    {{ _("Accept", language) }}
                                </span>
                        </a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td align="center" valign="middle" class="btnMain" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 12px;padding-bottom: 12px;padding-left: 22px;padding-right: 22px;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;background-color: #d21818;height: 20px;font-size: 18px;line-height: 20px;mso-line-height-rule: exactly;text-align: center;vertical-align: middle;">
                        <a href="{{ role.declineLink }}" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;color: #ffffff;font-weight: bold;"><span style="text-decoration: none;color: #ffffff;">
                                    {{ _("Decline", language) }}
                                </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

        <div style="margin-top:16px;">
            {% for time in times %}
                <p style="margin-bottom:6px;">
                    <span style="font-size:20px;font-weight:bold;">{{ _(time.type, language) }}</span>
                    <span>{{ time.time }}</span>
                </p>
            {% endfor %}
        </div>

        {% if notes %}
            <p style="margin-top:16px;margin-bottom:6px;font-style:italic;">{{ notes | nl2br }}</p>
        {% endif %}
    </td>
</tr>
{% include 'inc/footer.planning.twig' with { includeCalendarLink: true } %}
