<tr>
    <td class="bottomCorners" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;width: 544px;height: 16px;background-color: #ffffff;">&nbsp;</td>
</tr>
<tr>
    <td class="eFooter" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 14px;padding-bottom: 0;padding-left: 0;padding-right: 0;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align: center;font-size: 12px;line-height: 21px;width: 544px;color: #b2b2b2;">
        <a href="https://www.worshiptools.com"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: none; margin: 0;">
            WorshipTools</a>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
