<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="address=no;email=no;telephone=no">
    <style type="text/css">
        body {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        body, p, h1, h2, h3, h4, h5, h6, img, table, td, #emailBody {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
        a, #outlook a {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            display: inline-block;
        }
        a, a span {
            text-decoration: none;
        }
        a img {
            border: none;
        }
        a, a span, .tableBtn a span, .priceColumn td a span {
            color: #ed654c;
        }
        img {
            height: auto;
            width: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        @media only screen {
            td[class=btnMain] {
                padding: 0 !important;
            }
            td[class=btnMain] a {
                display: block !important;
                padding: 10px 22px !important;
                line-height: 26px !important;
            }
            table[class=tag] td {
                border-collapse: separate !important;
            }
            td[class=tagName], td[class~=invoiceHead] td[class=tagName] {
                font-size: 11px !important;
                line-height: 14px !important;
            }
            table[class=optionsButton] {
                width: auto !important;
            }
            table[class=optionsButton] td[class=btnMain] a {
                padding: 7px 4px 7px 6px !important;
            }
            td[class=btnIcon] {
                padding: 0 !important;
            }
            td[class=btnIcon] a {
                display: block !important;
                padding: 6px 2px 6px 7px !important;
            }
            table[class=subtleBtn] td {
                padding: 9px 0 25px !important;
            }
            table[class=subtleBtn] a {
                display: block !important;
                padding: 7px 8px !important;
            }
        }
        @media only screen and (max-width: 600px) {
            td[class=emailBodyCell] {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        @media only screen and (max-width: 560px) {
            td[class=emailBodyCell] {
                padding: 8px !important;
            }
            table[id=emailBody], td[class=emailBodyCell], table[class=eBox], td[class=highlight], td[class~=highlight], td[class=eBody], td[class~=eBody], div[class=bannerLink] a, div[class=bannerLink] img {
                display: block !important;
                width: auto !important;
            }
            td[class=highlight], td[class~=highlight], td[class=eBody], td[class~=eBody] {
                overflow: hidden !important;
            }
            td[class=width40], td[class~=width40], td[class=width54], td[class~=width54], td[class=width64], td[class~=width64], td[class=width80], td[class~=width80], td[class=width84], td[class~=width84], td[class=width116], td[class~=width116], td[class=width246], td[class~=width246], td[class=width248], td[class~=width248], td[class=width132], td[class~=width132], td[class=width184], td[class~=width184], td[class=width312], td[class~=width312], td[class=width380], td[class~=width380], td[class=width412], td[class~=width412], td[class=width448], td[class~=width448], td[class=width458], td[class~=width458], td[class=priceColumn], td[class~=priceColumn], td[class~=subTotal], table[class=invoiceList] td, td[class=width184], td[class~=width184], table[class=entryBox] td[class=alignLeft], table[class=invoiceTable] td[class~=alignLeft], table[class=invoiceTable] td[class=alignRight], td[class~=invoiceHead] table, td[class~=invoiceHead] td[class=alignLeft], table[class~=messageSection], td[class~=senderProfile], td[class~=messageArrow], td[class~=prodDesc], td[class~=eQuantity], td[class~=highlight] td[class=alignLeft], table[class=statsData] td[class~=width248] {
                width: 100% !important;
                display: block !important;
                padding-right: 0 !important;
            }
            div[class=bannerLink] a {
                height: auto !important;
            }
            div[class=bannerLink] a, div[class=bannerLink] img {
                width: 100% !important;
            }
            td[class=highlight] h1, td[class~=highlight] h1 {
                font-size: 28px !important;
                line-height: 36px !important;
            }
            td[class=eBody] h2, td[class~=eBody] h2, td[class=priceColumn] th, td[class~=priceColumn] th strong {
                font-size: 22px !important;
                line-height: 30px !important;
                margin-bottom: 8px !important;
            }
            td[class=btnMain] a {
                font-size: 20px;
            }
            td[class=eBody] p, td[class~=eBody] p, td[class=highlight] p, td[class~=highlight] p, table[class=invoiceTable2] td, table[class~=invoiceTable2] td, span[class=serviceName], td[class=priceColumn] td, td[class~=priceColumn] td, td[class~=highlight] h4, table[class=subtleBtn] a {
                font-size: 16px !important;
                line-height: 24px !important;
            }
            td[class~=invoiceHead] td, td[class~=invoiceHead] p, span[class=aSignature], td[class~=highlight] h4 span, span[class=servDetails] {
                font-size: 14px !important;
                line-height: 21px !important;
            }
            table[class=invoiceTable] td {
                font-size: 13px !important;
                line-height: 21px !important;
            }
            table[class~=twcoList] td {
                line-height: 30px !important;
            }
            td[class=btnIcon] a {
                display: block !important;
                padding: 12px 12px !important;
            }
            td[class=highlight], td[class~=highlight], td[class=eBody], td[class~=eBody] {
                padding-top: 16px !important;
            }
            table[class=mainBtn], table[class~=mainBtn], table[class=secondaryBtn], table[class~=secondaryBtn], table[class=defaultBtn], table[class~=defaultBtn], table[class=lightBtn], table[class~=lightBtn], table[class=subtleBtn] {
                width: 100% !important;
                margin: 0 !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;height: 100%;width: 100%;background-color: #f2f2f2;">
{% include 'inc/stagingBanner.twig' %}
<table id="emailBody" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0;height: 100%;width: 100%;background-color: #f2f2f2;">
    <tr>
        <td align="center" valign="top" class="emailBodyCell" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 32px;padding-bottom: 32px;padding-left: 16px;padding-right: 16px;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;height: 100%;width: 100%;background-color: #f2f2f2;">
            <table width="544" border="0" cellpadding="0" cellspacing="0" class="eBox" style="margin-top: 0;margin-left: auto;margin-right: auto;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0;width: 544px;">
                {% if not hideLogo %}
                    <tr>
                        <td class="eHeader" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 16px;padding-bottom: 16px;padding-left: 16px;padding-right: 16px;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;width: 512px;background-color: #ffffff;border-bottom: 1px solid #ebebeb;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0;">
                                <tr>
                                    <td class="eHeaderLogo" style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;border-collapse: collapse;border-spacing: 0;-webkit-text-size-adjust: none;text-align: left;font-size: 0 !important;font-weight: bold;">
                                        <a href="https://planning.worshiptools.com"
                                           style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: left;font-size: 18px;font-weight: bold;line-height: 0;">
                                            <img class="imageFix" src="https://cdn.worshipextreme.com/img/planningLogo.png" width="270" height="64"
                                                 alt="Planning by WorshipTools" style="max-width:270px;margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;line-height: 100%;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;display: block;vertical-align: top;">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endif %}
