{% if isStaging() %}
    <div style="text-align: center;font-weight: bold;position: absolute;top: 0;left: 0;height: 30px;width: 100%;background-color: #ffc400;line-height: 30px;">STAGING</div>
{% endif %}